.filters {
	background: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	position: relative;
}
button {
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	text-align: center;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 30px;

}

button:hover{
	opacity:.9;
	filter: alpha(opacity=100);
}

.locations {
	display: inline-block;
	height: 100%;
	width: 25%;
	border-right: 1px solid #dddddd;
}

.amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	height: 100%;

}

h3 {
	padding-left: 30px;
	font-weight: 600;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}
h4 {
	padding-left: 30px;
	font-weight: 400;
	font-size: 14px;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}
