.filters {
	background: #fff;
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	position: relative;
}
button {
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	text-align: center;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 30px;

}

button:hover{
	opacity:.9;
	filter: alpha(opacity=100);
}

.locations {
	display: inline-block;
	height: 100%;
	width: 25%;
	border-right: 1px solid #dddddd;
	padding: 0;
	margin: 0;
}



.amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	height: 100%;
	position: absolute;
	
}
.popover {
	padding: 0;
	display: none;
	background: #FAFAFA;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	top:0;



}

.amenities:hover .popover {
	display: block;
}

.locations:hover .popover{
	display: block;
}

ul {
	list-style-type: none;
}
h3 {

	padding-left: 30px;
	font-weight: 600;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}
.filters h4 {
	padding-left: 30px;
	font-weight: 400;
	font-size: 14px;
	top:50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

h2 {
	padding-left: 30px;
	font-size: 16px;
}
